* {
    font-family: Impact;
    font-size: 1.3rem;
}

body {
    background: rgb(255, 237, 179);
}

@media screen and (max-width: 800px){
    body {
        background: rgb(255, 237, 179);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        height: 100vh;
        width: 100vw;
        margin: 0px;
    }
}

.clock {
    text-align: center;
    visibility: hidden;
}

.flag {
    padding-left: 10px;
    visibility: hidden;
}

.card{
    background-image: url(assets/light_green.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 0.5em;
    text-align: left;
    width: auto;
    height: auto;
    border-width: 5px;
    border-color: green;
    margin: 1px;
}

.card:hover {

}

.card.darK{
    background-image: url(assets/dark_green.png);
}

.card.zero{
    background-image: url(assets/0.png) ;
}
.card.one{
    background-image: url(assets/1.png);
}
.card.two{
    background-image: url(assets/2.png);
}
.card.three{
    background-image: url(assets/3.png);
}
.card.four{
    background-image: url(assets/4.png);
}
.card.five{
    background-image: url(assets/5.png);
}
.card.six{
    background-image: url(assets/6.png);
}
.card.seven{
    background-image: url(assets/7.png);
}
.card.eight{
    background-image: url(assets/8.png);
}

.card.mark{
    background-image: url(assets/light_green_w_flag.png);
}

.card.bomb {
    background-image: url('assets/bomb.png');
}

.grid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    border-radius: 10px;
    /*padding:5px;*/
    width: calc(70vh);
}

.grid > div::before {
    content: "";
    padding-bottom: 100%;
    display: block;
}


.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
    align-items: center;
}

.accessories {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
    align-items: center;
}


.menuButton {
    padding: 5px 0.5em ;
    border: 0px solid gray;
    background-color: rgba(128, 128, 128, 0.233);
    margin: 5px;
    cursor: pointer;
    border-radius: 0.5em;
    font-size:1em;
}

.menuButton:hover {
    color: white;
    background: black;
}

.gridwrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#winlossMsg {
    justify-content: center;
    text-align: center;
}

.status {
    margin-top: 5px;
    text-align: center;
    color: gray;
}
